<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=shop</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL81Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

            <!-- Database connection settings -->
<!--        <property name="connection.driver_class">org.h2.Driver</property>-->
<!--        <property name="connection.url">jdbc:h2:mem:test</property>-->
<!--        <property name="connection.username">sa</property>-->
<!--            <property name="connection.password">password</property>-->

<!--        <property name="hibernate.default_schema">PUBLIC</property>-->

<!--        &lt;!&ndash; JDBC connection pool (use the built-in) &ndash;&gt;-->
<!--        <property name="connection.pool_size">1</property>-->

<!--        &lt;!&ndash; SQL dialect &ndash;&gt;-->
<!--        <property name="dialect">org.hibernate.dialect.H2Dialect</property>-->

<!--        &lt;!&ndash; Disable the second-level cache  &ndash;&gt;-->
<!--        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>-->

<!--        &lt;!&ndash; Echo all executed SQL to stdout &ndash;&gt;-->
<!--        <property name="show_sql">true</property>-->

<!--        &lt;!&ndash; Drop and re-create the database schema on startup &ndash;&gt;-->
<!--        <property name="hbm2ddl.auto">create</property>-->

        <mapping class="com.ivanvelev.models.User"/>
        <mapping class="com.ivanvelev.models.Review"/>
        <mapping class="com.ivanvelev.models.Order"/>
        <mapping class="com.ivanvelev.models.Country"/>
        <mapping class="com.ivanvelev.models.Address"/>
        <mapping class="com.ivanvelev.models.Item"/>
            <mapping class="com.ivanvelev.models.UserCredentials"/>
    </session-factory>
</hibernate-configuration>